body {
  background-color: #333;
  color: #fff;
  font-family: sans-serif;
  font-size: 2rem;
}

.wrapper {
  padding: 50px;
  min-height: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}


.menu__item:first-child:hover {
  color: #ff0000;
}

.menu__item {
  transition: 1s;
}